    $highlight: rgb(33, 150, 243);
    $white-color: #FFFFFF;
    $black-color: #212121;
    $grey-color: #757575;
    $bg-color: #2f303a;
    $grey-bg: #f5f4fa;
    $cards-icon-color: #afb1b8;

    $outer-margin: calc((100% - 1200px) / 2);
    $inner-padding: 94px 0 94px 0;