@use "../utils/variables.scss" as color;
@use "../utils/variables.scss" as var;

.footer {
    background: color.$bg-color;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding-top: 60px;
        padding-bottom: 47px;
        max-width: 1200px;
    }


    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;

        letter-spacing: 0.03em;
        text-decoration: none;

        color: color.$highlight;

        &__title {
            color: color.$white-color;
        }
    }


    &__address {
        display: flex;
        flex-direction: column;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        letter-spacing: 0.03em;
        color: color.$white-color;
    }

    &__contact {
        letter-spacing: 0.03em;
        text-decoration: none;

        color: rgba(255, 255, 255, 0.6);

        &:hover,
        :focus {
            color: color.$highlight;
        }
    }

    &__middle-aside {
        padding-left: 70px;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 20px;

        color: color.$white-color;
    }

    &__list {
        display: flex;
        list-style: none;
        gap: 10px;
        margin-left: 0px;
    }

    &__items {
        position: relative;
        height: 44px;
        width: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;

        &:hover,
        :focus {
            background-color: color.$highlight;
            cursor: pointer;
        }
    }

    &__icon-ig {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 20px;
        height: 20px;
        fill: color.$white-color;
    }

    &__icon-twitter {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 20px;
        height: 20px;
        fill: color.$white-color;
    }

    &__icon-fb {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 20px;
        height: 20px;
        fill: color.$white-color;
    }

    &__icon-linkedin {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 20px;
        height: 20px;
        fill: color.$white-color;
    }

    &__right-aside {
        margin: 12px 0px 0px 93px;
    }

    &__right-title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 20px;

        color: color.$white-color;
    }

    &__right-div {
        display: inline;
        width: 580px;
        height: auto;
    }

    &__input {
        width: 358px;
        height: 50px;
        margin-right: 12px;
        padding: 15px 0px 15px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
        background-color: var(--bg-color);

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }

    &__button {
        width: 200px;
        height: 50px;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: color.$highlight;
        color: color.$white-color;
        border-radius: 4px;
        border: 0;
    }

    &__sub-text {
        display: inline;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */

    }

    &__icon-telegram {
        width: 24px;
        height: 24px;
        margin: 13px, 28px, 13px, 8px;
        fill: color.$white-color;
    }
}

@media screen and (min-width:481px) and (max-width: 768px) {
    .footer {
        max-width: 768px;
        padding: 0 76px;

        &__container {
            margin: 0 auto;
            flex-wrap: wrap;
        }

        &__left-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 155px;
            width: 232px;
        }

        &__logo {
            font-size: 24px;
            line-height: 28px;
        }

        &__address {
            padding-top: 20px;
            width: inherit;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }

        &__contact {
            width: inherit;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }

        &__middle-aside {
            padding: 0;
            width: 206px;
        }

        &__title {
            text-align: center;
            padding-bottom: 20px;
        }

        &__right-aside {
            display: flex;
            padding-top: 54px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__right-title {
            width: 275px;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
        }

        &__right-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 450px;
            gap: 20px;
        }

        &__input {
            width: inherit;
        }

        &__sub-text {
            margin-right: 20px;
        }

    }
}

@media screen and (max-width: 480px) {
    .footer {
        max-width: 480px;
        padding: 60px 15px;

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0;
        }

        &__left-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__logo {
            font-size: 24px;
            line-height: 28px;

            &__title {
                color: color.$white-color;
            }
        }

        &__address {
            display: flex;
            padding-top: 28px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            flex-direction: column;
        }

        &__contact {
            padding-top: 12px;
        }

        &__middle-aside {
            padding: 60px 0 0 0;
        }

        &__title {
            text-align: center;
            padding-top: 0;
        }

        &__list {
            padding-bottom: 60px;
        }

        &__right-aside {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__right-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__button {
            margin-top: 20px;
        }
    }

}